body {
    --border-color: #7e87b7;
    --bg-color: #313653;
    --primary-color: rgb(209, 112, 209);
    --secondary-color: plum;
    --light-grey: #cad0ed;

    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    color: var(--primary-color);
    font-size: large;
    
}

.canvas {
    background-color: white;
    width: 700px;
    height: 700px;
    box-sizing: border-box;
    border: 15px solid var(--border-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1px;
    border-radius: 10px;
    box-shadow: 25px 25px 30px rgba(18, 19, 23, 0.3);
    margin: 30px;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    flex: auto;
    gap: 1px;
}

.square {
    box-sizing: border-box;
    height: 100%;
    background-color: var(--light-grey);
    flex: auto;
    transition: 1.5s;
}

.square:hover {
    background-color: var(--secondary-color);
    transition: 0.1s;
}

button {
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    height: 3em;
    border-radius: 3em;
    border: 5px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 200;
    font-size: 1em;
    font-family: monospace;
    box-shadow: 10px 10px 15px rgba(18, 19, 23, 0.3);
    transition: 0.3s;

}

button:hover {
    background-color: var(--primary-color);
    transition: 0.3s;
}

button p {
    padding: 0;
    margin: 0;
}